<!DOCTYPE html>
<html>

<head>
  <title>San Francisco</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp2FJJJNV6peSh8vHfXxb680UQZh7f33E"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img class="img-responsive" src="/assets/images/logo.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="navbar-right login-nav nav navbar-nav">
            <li><a href="#"><span class="nav-btn">Login</span></a></li>
            <li><a href="#"><span class="sign-up nav-btn">Sign Up</span></a></li>
          </ul>
          <ul class="navbar-right main-nav nav navbar-nav">
            <li class="active"><a href="#">Browse</a></li>
            <li><a href="#about">List Your Rental</a></li>
            <li><a href="#contact">Renters</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
          <ul class="phone-tel navbar-right nav navbar-nav">
            <li>
              <span>(855) 663-2580</span>
              <br/>
              <span class="subtitle">24x7 HOTLINE</span>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  <div id="chen-react-main"></div>
  <script src="/assets/lib/modernizr/modernizr.js"></script>
  <script src="/assets/lib/jquery/dist/jquery.min.js"></script>
  <script src="/assets/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="/assets/client/main.js"></script>
</body>

</html>
