<!DOCTYPE html>
<html>
<head>
  <title>San Francisco</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp2FJJJNV6peSh8vHfXxb680UQZh7f33E">
  </script>
</head>
<body>
  <nav class="navbar navbar-default" style="margin-bottom: 0">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" height="35" width="167px" src="/assets/images/logo.png">
        </a>
      </div>
    </div>
  </nav>
  <div id="chen-react-main"></div>
  <script src="/assets/lib/modernizr/modernizr.js"></script>
  <script src="/assets/lib/jquery/dist/jquery.min.js"></script>
  <script src="/assets/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="/assets/client/main.js"></script>
</body>
</html>
